/Setup/conf-files/Bibata-Original-Ice
/Setup/conf-files/cairo-dock
/Setup/conf-files/Flat-Remix-Blue-Dark
/Setup/conf-files/Flat-Remix-Dark-XFWM
/Setup/conf-files/Flat-Remix-GTK-Blue-Dark-Solid
/Setup/conf-files/gtk-4.0
/Setup/conf-files/mcOS-BS-iMacM1- DarkBlue
/Setup/conf-files/xenlism-grub-1080p-Debian
